
@{
    ViewBag.Title = "Index";
}

<h1 style="text-align: center; margin-top: 25px;">Our Projects</h1>
<br />
<br />

 <div class="row">
     <div class="col-md-4">
         <div class="card" style="width: 18rem; margin-bottom:15px;">
             <img class="card-img-top" src="https://www.bradtguides.com/wp-content/uploads/wysiwyg/marketing/events/CCFphoto.png" alt="Card image cap">
             <div class="card-body">
                 <h5 class="card-title">The Cheetah Foundation</h5>
                 <p class="card-text">In efforts to fund research and conservation on wild cheetahs in Southern Africa.</p>
                 <button type="button" onclick="location.href='@Url.Action("Index","ThankYou")'" class="btn btn-primary">Make Donation</button>
             </div>
         </div>
     </div>
     <div class="col-md-4">
         <div class="card" style="width: 18rem; margin-bottom: 15px;">
             <img class="card-img-top" src="https://cf.ltkcdn.net/charity/images/orig/228832-1600x1067-Panda-With-Cub-In-Field.jpg" alt="Card image cap">
             <div class="card-body">
                 <h5 class="card-title">The Panda Project</h5>
                 <p class="card-text">The fund focusses on protecting and caring for wild pandas in China.</p>
                 <button type="button" onclick="location.href='@Url.Action("Index","ThankYou")'" class="btn btn-primary">Make Donation</button>
             </div>
         </div>
     </div>
     <div class="col-md-4">
         <div class="card" style="width: 18rem; margin-bottom: 15px;">
             <img class="card-img-top" src="https://biologue.plos.org/wp-content/uploads/sites/7/legacy-featured-images/Panthera_leo_5-16x9.jpg" alt="Card image cap">
             <div class="card-body">
                 <h5 class="card-title">Save the Lions.org</h5>
                 <p class="card-text">A project that focusses on raising funds to help protect the last of our wild lions in Southern AFrica.</p>
                 <button type="button" onclick="location.href='@Url.Action("Index","ThankYou")'" class="btn btn-primary">Make Donation</button>
             </div>
         </div>
     </div>
 </div>

 <div class="row">
     <div class="col-md-4">
         <div class="card" style="width: 18rem;">
             <img class="card-img-top" src="https://cdn.britannica.com/37/75637-050-B425E8F1/Killer-whale.jpg" alt="Card image cap">
             <div class="card-body">
                 <h5 class="card-title">Save Our Oceans</h5>
                 <p class="card-text">Make a donation to Change.org in order to assist with and leave your mark on their ocean conservation project.</p>
                 <button type="button" onclick="location.href='@Url.Action("Index","ThankYou")'" class="btn btn-primary">Make Donation</button>
             </div>
         </div>
     </div>
     <div class="col-md-4">
         <div class="card" style="width: 18rem;">
             <img class="card-img-top" src="https://www.bornfree.org.uk/storage/media/content/images/articles/Okto%20young%201600%20wide.jpg" alt="Card image cap">
             <div class="card-body">
                 <h5 class="card-title">The Orangutang Foundation</h5>
                 <p class="card-text">Join the efforts of missionaries in Sumatra in protecting the highly endangered Orangutangs.</p>
                 <button type="button" onclick="location.href='@Url.Action("Index","ThankYou")'" class="btn btn-primary">Make Donation</button>
             </div>
         </div>
     </div>
     <div class="col-md-4">
         <div class="card" style="width: 18rem;">
             <img class="card-img-top" src="https://www.photodestination.co.za/media/reviewsphotos/original/07/05/ac/African-penguins-by-wildlife-and-conservation-photographer-Peter-Chadwick-75-1378629684.jpg" alt="Card image cap">
             <div class="card-body">
                 <h5 class="card-title">Birdlife.org.za</h5>
                 <p class="card-text">The foundation focusses on the conservation of South Africa's bird life and protecting them for future generations to come.</p>
                 <button type="button" onclick="location.href='@Url.Action("Index","ThankYou")'" class="btn btn-primary">Make Donation</button>
             </div>
         </div>
     </div>
 </div>


